body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
}

main {
    flex: 1 0 auto;
    
}

/*blog posts*/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
    font-style: italic;
    
}

h3 {
    font-size: 20px
}